* {
  box-sizing: border-box; }

p, h1, h2, h3 {
  margin: 0; }

.wrapper-main {
  width: 1920px;
  background-color: #fff;
  margin: 0 auto; }

.header {
  height: 1024px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg_header_mountains.jpg);
  background-repeat: no-repeat, no-repeat;
  padding-top: 40px; }
  .header .header-top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto; }
    .header .header-top .navbar {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: center; }
      .header .header-top .navbar .navbar-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        min-width: 640px;
        margin-right: 63px;
        color: #fff; }
      .header .header-top .navbar .navbar-ico {
        min-width: 70px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between; }

.sections {
  height: 373px;
  padding: 0 376px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .sections .section {
    width: 266px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .sections .section .section__icon {
      height: 50px; }
      .sections .section .section__icon--dev {
        width: 43px; }
      .sections .section .section__icon--marketing {
        width: 51px; }
    .sections .section .section__marker {
      width: 70px;
      height: 3px;
      background-color: #f1eee9; }

.browser-preview {
  height: 700px;
  padding-top: 83px;
  background-color: #fbfaf8;
  background-image: url(../img/bg_browser_center.jpg), url(../img/bg_browser_right.jpg), url(../img/bg_browser_left.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 576px 100%, 806px 100%, 346px 100%; }
  .browser-preview .browser-preview__wrapper {
    width: 770px;
    margin: 0 auto;
    padding: 0 7px;
    text-align: center; }

.purchase-now {
  height: 150px;
  padding: 0 376px;
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .purchase-now__header {
    color: #fff; }
  .purchase-now .letterhead {
    color: #c7b299; }
  .purchase-now__text {
    color: #615855; }
  .purchase-now__button {
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: #998675;
    color: #fff;
    text-transform: uppercase; }

.projects {
  height: 1162px; }

.presentation {
  height: 705px;
  background-image: url(../img/bg_video_thumb.jpg); }

.mobile-devices {
  height: 695px;
  background-color: #fbfaf8;
  background-image: url(../img/bg_phone_in_hand.png);
  background-repeat: no-repeat;
  background-position: 423px 100%; }

.counters {
  height: 300px;
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%); }

.clients {
  height: 489px;
  background-image: url(../img/bg_clients_mountain.png); }

.footer {
  height: 619px; }
  .footer .footer-bg {
    height: 508px;
    background-color: #191919; }
  .footer .footer-sm {
    height: 111px;
    background-color: #111111; }

/*# sourceMappingURL=style.css.map */
