<!DOCTYPE html>
%html{:lang => "en"}
	%head
		%meta{:charset => "UTF-8"}
		%title Waxom - About Us
		%link{:rel => "stylesheet", :href => "css/style.css"}
		%link{:rel => "stylesheet", :href => "css/normalize.css"}

		- @menu = ['Home', 'About Us', 'Portfolio', 'Features', 'Blog', 'Pricing', 'Shortcodes', 'Contact']
	%body
		.wrapper-main
			.header
				.header-top
					%img.header__logo{:src => "img/logo_waxom.png", :alt => "Waxom-logo"}
					.navbar
						.navbar-menu
							-@menu.each do |value|
								%div{:class => "navbar-menu__item"}
									#{value}
						.navbar-ico
							%img.navbar__icon{:src => "img/ico_header_cart.png", :alt => "Cart"}
							%img.navbar__icon{:src => "img/ico_header_search.png", :alt => "Search"}
				.carousel
			.sections
				.section.section-web
					%img.section__icon.section__icon--web{:src => "../img/ico_web.svg", :alt => "Waxom Web"}
					%h3.section__header Web & App Design
					%p.section__text Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
					.section__marker
				.section.section-dev
					%img.section__icon.section__icon--dev{:src => "../img/ico_dev.svg", :alt => "Waxom Development"}
					%h3.section__header Development
					%p.section__text Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
					.section__marker
				.section.section-custom
					%img.section__icon.section__icon--custom{:src => "../img/ico_customization.svg", :alt => "Waxom Customization"}
					%h3.section__header Customization
					%p.section__text Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
					.section__marker
				.section.section-marketing
					%img.section__icon.section__icon--marketing{:src => "../img/ico_marketing.svg", :alt => "Waxom Marketing"}
					%h3.section__header Marketing
					%p.section__text Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
					.section__marker
			.browser-preview
				.browser-preview__wrapper
					%h2.browser-preview__header Waxom is Realization of your Ideas.
					%p.browser-preview__text Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
			.purchase-now
				.purchase-now__wrapper
					%h2.purchase-now__header
						%span.letterhead Waxom
						Multipurpose WordPress Theme
					%p.purchase-now__text Don't Forget to Rate the Template. Thanks so much!
				%button.purchase-now__button Purchase Now
			.projects
			.presentation
			.mobile-devices
			.counters
			.recent-posts
			.clients
			.footer
				.footer-bg
				.footer-sm
	