@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800");
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat/Montserrat-ExtraLight.ttf);
  font-weight: 200; }

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat/Montserrat-Light.ttf);
  font-weight: 300; }

* {
  box-sizing: border-box; }

body {
  margin: 0; }

p, h1, h2, h3 {
  margin: 0; }

a, label {
  text-decoration: none;
  color: inherit; }

.wrapper-main {
  width: 1920px;
  background-color: #fff;
  margin: 0 auto; }

.header {
  width: 100%;
  position: relative; }
  .header-top-logo-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center; }
  .header__name {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 34px;
    line-height: normal;
    color: #fff; }
  .header-top {
    display: -webkit-box;
    display: flex;
    align-self: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-left: auto;
    position: absolute;
    padding: 40px 20% 0 20%;
    z-index: 2; }
    .header-top .navbar {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row;
      flex-wrap: nowrap;
      -webkit-box-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
              align-items: center; }
      .header-top .navbar .navbar-menu {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        flex-wrap: nowrap;
        -webkit-box-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
                align-items: center;
        min-width: 640px;
        margin-right: 63px;
        font-family: 'Montserrat';
        font-weight: 300;
        font-size: 14px;
        line-height: normal;
        color: #fff; }
        .header-top .navbar .navbar-menu__item {
          transition: color .3s ease; }
          .header-top .navbar .navbar-menu__item:hover {
            color: #c7b299; }
      .header-top .navbar .navbar-ico {
        min-width: 70px;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        flex-wrap: nowrap;
        -webkit-box-pack: justify;
                justify-content: space-between; }
        .header-top .navbar .navbar-ico .navbar__icon {
          transition: all .3s ease; }
          .header-top .navbar .navbar-ico .navbar__icon:hover {
            -webkit-filter: invert(0.5) sepia(100%);
                    filter: invert(0.5) sepia(100%); }
  .header .slider__slide {
    position: relative;
    height: 1024px; }
  .header .slider #slide1:checked ~ #slider-slides .slider-inner {
    margin-left: 0; }
  .header .slider #slide2:checked ~ #slider-slides .slider-inner {
    margin-left: -100%; }
  .header .slider #slide3:checked ~ #slider-slides .slider-inner {
    margin-left: -200%; }
  .header .slider #slide4:checked ~ #slider-slides .slider-inner {
    margin-left: -300%; }
  .header .slider #slide5:checked ~ #slider-slides .slider-inner {
    margin-left: -400%; }
  .header .slider #slide1:checked ~ #slider-controls label:nth-child(2),
  .header .slider #slide2:checked ~ #slider-controls label:nth-child(3),
  .header .slider #slide3:checked ~ #slider-controls label:nth-child(4),
  .header .slider #slide4:checked ~ #slider-controls label:nth-child(5),
  .header .slider #slide5:checked ~ #slider-controls label:nth-child(1) {
    background: url("../img/chevron-thin-right.svg") no-repeat;
    float: right;
    margin: 0 100px 0 0;
    display: block; }
  .header .slider #slide1:checked ~ #slider-controls label:nth-child(5),
  .header .slider #slide2:checked ~ #slider-controls label:nth-child(1),
  .header .slider #slide3:checked ~ #slider-controls label:nth-child(2),
  .header .slider #slide4:checked ~ #slider-controls label:nth-child(3),
  .header .slider #slide5:checked ~ #slider-controls label:nth-child(4) {
    background: url("../img/chevron-thin-left.svg") no-repeat;
    float: left;
    margin: 0 0 0 100px;
    display: block; }
  .header .slider-overflow {
    width: 100%;
    overflow: hidden; }
  .header .slider #slide1:checked ~ #slider-active label:nth-child(1),
  .header .slider #slide2:checked ~ #slider-active label:nth-child(2),
  .header .slider #slide3:checked ~ #slider-active label:nth-child(3),
  .header .slider #slide4:checked ~ #slider-active label:nth-child(4),
  .header .slider #slide5:checked ~ #slider-active label:nth-child(5) {
    width: 15px;
    height: 15px;
    border: 2px solid #d0beab;
    background-color: transparent; }
  .header .slider-inner {
    display: -webkit-box;
    display: flex;
    width: 500%;
    overflow-y: hidden;
    transition: all .5s ease; }
  .header .slider .slider__gradient {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    top: 0; }
  .header .slider__input {
    display: none; }
  .header .slider-controls {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 45%; }
    .header .slider-controls label {
      width: 50px;
      height: 50px;
      cursor: pointer;
      opacity: 0.6; }
      .header .slider-controls label:hover {
        opacity: 1; }
  .header .slider-active {
    position: absolute;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
    align-self: center;
    width: 100px;
    bottom: 42px;
    left: 909px; }
    .header .slider-active label {
      width: 11px;
      height: 11px;
      background-color: #8e8e8e;
      border-radius: 50%;
      cursor: pointer; }
  .header .slider-text-wrapper {
    position: absolute;
    width: 589px;
    color: #fff;
    top: 40%;
    left: 666px;
    text-align: center;
    -webkit-transform: translateZ(0); }
    .header .slider-text-wrapper .slider__h2 {
      font-family: 'Raleway';
      font-weight: 500;
      font-size: 36px;
      line-height: normal;
      margin-bottom: 10px; }
    .header .slider-text-wrapper .slider__h1 {
      font-family: 'Raleway';
      font-weight: 700;
      font-size: 52px;
      line-height: normal;
      margin-bottom: 10px; }
    .header .slider-text-wrapper .slider__p {
      font-family: 'Montserrat';
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      padding: 0 13px 0 13px;
      word-break: break-all;
      margin-bottom: 50px; }
    .header .slider-text-wrapper .slider__button {
      width: 170px;
      height: 50px;
      border: none;
      border-radius: 3px;
      outline: none;
      background-color: #998675;
      font-family: 'Raleway';
      font-weight: 700;
      font-size: 14px;
      line-height: 23px;
      color: #fff;
      text-transform: uppercase; }
      .header .slider-text-wrapper .slider__button:hover {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)); }
      .header .slider-text-wrapper .slider__button:active {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)); }

.sections {
  height: 373px;
  padding: 0 376px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center; }
  .sections .section {
    width: 267px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    justify-content: space-around;
    -webkit-box-align: center;
            align-items: center; }
    .sections .section__icon {
      height: 50px;
      margin-bottom: 30px; }
      .sections .section__icon--dev {
        width: 43px; }
      .sections .section__icon--marketing {
        width: 51px; }
    .sections .section__header {
      font-family: 'Raleway';
      font-weight: 600;
      font-size: 22px;
      line-height: normal;
      color: #555555;
      margin-bottom: 19px;
      transition: all .5s ease; }
    .sections .section__text {
      font-family: 'Montserrat';
      font-weight: 300;
      font-size: 14px;
      line-height: 24px;
      color: #8c8c8c;
      text-align: center;
      margin-bottom: 30px; }
    .sections .section__marker {
      width: 70px;
      height: 3px;
      background-color: #f1eee9;
      transition: all .5s ease; }
    .sections .section .fill {
      transition: all .5s ease; }
    .sections .section:hover .fill {
      fill: #c7b299; }
    .sections .section:hover .section__header {
      color: #c7b299; }
    .sections .section:hover .section__marker {
      background-color: #c7b299; }

.browser-preview {
  height: 700px;
  padding-top: 83px;
  background-color: #fbfaf8;
  background-image: url(../img/bg_browser_center.jpg), url(../img/bg_browser_right.jpg), url(../img/bg_browser_left.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 576px 100%, 806px 100%, 346px 100%; }
  .browser-preview .browser-preview-wrapper {
    width: 770px;
    margin: 0 auto;
    padding: 0 7px;
    text-align: center; }
  .browser-preview__header {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 30px;
    line-height: normal;
    color: #555555;
    margin-bottom: 24px; }
  .browser-preview__text {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c; }

.purchase-now {
  height: 150px;
  padding: 0 376px;
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center; }
  .purchase-now__header {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 28px;
    line-height: normal;
    color: #fff; }
    .purchase-now__header .letterhead {
      color: #c7b299; }
  .purchase-now__text {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 18px;
    line-height: normal;
    color: #615855; }
  .purchase-now__button {
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: #998675;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 14px;
    line-height: 23px;
    color: #fff;
    text-transform: uppercase; }
    .purchase-now__button:hover {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)); }
    .purchase-now__button:active {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)); }

.projects {
  height: 1162px;
  padding-top: 81px; }
  .projects-wrapper {
    width: 1170px;
    margin: 0 auto;
    text-align: center; }
  .projects__header {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 30px;
    line-height: normal;
    color: #555555;
    margin-bottom: 24px; }
  .projects__text {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c;
    margin-bottom: 40px; }
  .projects-sections {
    width: 605px;
    margin: 0 auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    justify-content: space-around; }
  .projects__section {
    height: 32px;
    padding: 5px 20px 0 20px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #8c8c8c;
    transition: background-color .3s ease; }
    .projects__section:hover {
      background-color: #998675;
      color: #fff; }
  .projects-preview {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
            justify-content: space-between;
    margin: 40px 0 10px 0; }
    .projects-preview .preview__block {
      width: 370px;
      height: 337px;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      flex-wrap: nowrap;
      -webkit-box-pack: end;
              justify-content: flex-end;
      margin-bottom: 30px;
      background-color: #fbfaf8;
      transition: background-color .3s ease; }
      .projects-preview .preview__block .block__bottom {
        height: 100px;
        padding: 30px 0 0 28px;
        text-align: left; }
        .projects-preview .preview__block .block__bottom .block__header {
          font-family: 'Raleway';
          font-weight: 500;
          font-size: 20px;
          line-height: normal;
          color: #c7b299;
          margin-bottom: 5px; }
        .projects-preview .preview__block .block__bottom .block__text {
          font-family: 'Montserrat';
          font-weight: 300;
          font-size: 14px;
          line-height: 20px;
          color: #d1d1d1; }
      .projects-preview .preview__block:hover {
        background-color: #362f2d; }
        .projects-preview .preview__block:hover .block__header {
          color: #fff; }
        .projects-preview .preview__block:hover .block__text {
          color: #c7b299; }
      .projects-preview .preview__block--1 {
        background-image: url(../img/img_project_phone.jpg);
        background-repeat: no-repeat; }
      .projects-preview .preview__block--2 {
        background-image: url(../img/img_project_mount.jpg);
        background-repeat: no-repeat; }
      .projects-preview .preview__block--3 {
        background-image: url(../img/img_project_paragpaph.jpg);
        background-repeat: no-repeat; }
      .projects-preview .preview__block--4 {
        background-image: url(../img/img_project_birds.jpg);
        background-repeat: no-repeat; }
      .projects-preview .preview__block--5 {
        background-image: url(../img/img_project_book.jpg);
        background-repeat: no-repeat; }
      .projects-preview .preview__block--6 {
        background-image: url(../img/img_project_sea.jpg);
        background-repeat: no-repeat; }
  .projects__button {
    width: 170px;
    height: 50px;
    background-color: #998675;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 14px;
    line-height: 23px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 3px;
    transition: all .5s ease; }
    .projects__button:hover {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)); }
    .projects__button:active {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)); }

.presentation {
  height: 705px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/bg_video_thumb.jpg);
  background-repeat: no-repeat, no-repeat;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
          justify-content: center;
  align-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center; }
  .presentation-wrapper {
    width: 589px;
    color: #fff; }
  .presentation__playbtn {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background: url(../img/ico_present_btn.png), rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    transition: -webkit-transform .5s ease-in;
    transition: transform .5s ease-in;
    transition: transform .5s ease-in, -webkit-transform .5s ease-in;
    margin-bottom: 40px; }
    .presentation__playbtn:hover {
      -webkit-transform: rotate(-180deg);
              transform: rotate(-180deg); }
  .presentation__h2 {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 36px;
    line-height: normal;
    margin-bottom: 30px; }
  .presentation__p {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    padding: 0 13px 0 13px;
    margin-bottom: 40px; }
  .presentation__time {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #c7b299; }

.mobile-devices {
  height: 695px;
  background-color: #fbfaf8;
  background-image: url(../img/bg_phone_in_hand.png);
  background-repeat: no-repeat;
  background-position: 423px 100%;
  padding: 195px 0 0 877px; }
  .mobile-devices .mobile-devices-wrapper {
    width: 657px; }
  .mobile-devices__header {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 30px;
    line-height: normal;
    color: #555555;
    margin-bottom: 40px; }
  .mobile-devices__text {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c;
    margin-bottom: 40px; }
  .mobile-devices__list {
    padding-left: 80px;
    margin: 0; }
  .mobile-devices__item {
    position: relative;
    background-repeat: no-repeat;
    background-position: center left;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    color: #8c8c8c;
    padding-left: 29px;
    vertical-align: top; }
  .mobile-devices__bullet {
    display: inline-block;
    position: absolute;
    left: -30px;
    top: 3px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-left: 8px;
    background-color: #c7b299; }
    .mobile-devices__bullet::after {
      position: absolute;
      display: block;
      content: '';
      width: 6px;
      height: 6px;
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      top: 30%;
      left: 26%;
      -webkit-transform: rotate(-135deg);
              transform: rotate(-135deg); }

.counters {
  height: 300px;
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  padding: 69px; }
  .counters-wrapper {
    width: 920px;
    margin: 0 auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
            justify-content: space-between; }
  .counters-block {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center; }
  .counters__icon {
    margin-bottom: 30px; }
  .counters__number {
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 48px;
    line-height: 36px;
    color: #fff;
    margin-bottom: 21px; }
  .counters__text {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #c7b299;
    margin-bottom: 30px; }
  .counters_marker {
    width: 30px;
    height: 2px;
    background-color: #fff; }

.recent-posts {
  height: 753px;
  background-color: #fff;
  padding-top: 82px; }
  .recent-posts-wrapper {
    width: 1170px;
    margin: 0 auto;
    text-align: center; }
  .recent-posts__header {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 30px;
    line-height: normal;
    color: #555555; }
  .recent-posts__text {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c; }
  .recent-posts-preview {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
            justify-content: space-between;
    margin: 40px 0 40px 0; }
    .recent-posts-preview .recent-posts-block {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-box-pack: justify;
              justify-content: space-between;
      width: 370px;
      height: 395px;
      border: 1px solid #f8f8f8;
      transition: background-color .3s ease; }
      .recent-posts-preview .recent-posts-block-date {
        width: 50px;
        margin: 20px 0 0 20px;
        color: #fff;
        vertical-align: middle; }
        .recent-posts-preview .recent-posts-block-date__date {
          height: 35px;
          background-color: #363636;
          font-family: 'Montserrat';
          font-weight: 300;
          font-size: 24px;
          line-height: 35px;
          border-radius: 3px 3px 0 0;
          transition: background-color .3s ease; }
        .recent-posts-preview .recent-posts-block-date__month {
          height: 25px;
          background-color: #252525;
          font-family: 'Roboto';
          font-weight: 400;
          font-size: 12px;
          line-height: 25px;
          border-radius: 0 0 3px 3px;
          transition: background-color .3s ease; }
      .recent-posts-preview .recent-posts-block-bottom {
        height: 175px;
        padding: 30px 0 0 29px;
        text-align: left; }
        .recent-posts-preview .recent-posts-block-bottom__header {
          font-family: 'Raleway';
          font-weight: 500;
          font-size: 20px;
          line-height: normal;
          color: #555555;
          margin-bottom: 19px; }
        .recent-posts-preview .recent-posts-block-bottom__text {
          font-family: 'Montserrat';
          font-weight: 300;
          font-size: 14px;
          line-height: 22px;
          color: #8c8c8c;
          margin-bottom: 27px; }
        .recent-posts-preview .recent-posts-block-bottom__link {
          display: -webkit-box;
          display: flex;
          -webkit-box-pack: start;
                  justify-content: flex-start;
          -webkit-box-align: center;
                  align-items: center;
          font-family: 'Montserrat';
          font-weight: 300;
          font-size: 14px;
          line-height: 21px;
          color: #c7b299; }
          .recent-posts-preview .recent-posts-block-bottom__link::after {
            display: block;
            content: '';
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-left: 5px solid #c7b299;
            margin-left: 9px; }
      .recent-posts-preview .recent-posts-block:hover {
        background-color: #362f2d; }
        .recent-posts-preview .recent-posts-block:hover .recent-posts-block-bottom__header {
          color: #c7b299; }
        .recent-posts-preview .recent-posts-block:hover .recent-posts-block-bottom__text {
          color: #fff; }
        .recent-posts-preview .recent-posts-block:hover .recent-posts-block-date__date {
          background-color: #c7b299; }
        .recent-posts-preview .recent-posts-block:hover .recent-posts-block-date__month {
          background-color: #a48d72; }
      .recent-posts-preview .recent-posts-block--1 {
        background-image: url(../img/img_post_feet.jpg);
        background-repeat: no-repeat; }
      .recent-posts-preview .recent-posts-block--2 {
        background-image: url(../img/img_post_comp.jpg);
        background-repeat: no-repeat; }
      .recent-posts-preview .recent-posts-block--3 {
        background-image: url(../img/img_post_ship.jpg);
        background-repeat: no-repeat; }
  .recent-posts-slider {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
            justify-content: center; }
    .recent-posts-slider__item {
      position: relative;
      width: 22px;
      height: 22px;
      border: 1px solid #d1d1d1;
      border-radius: 50%;
      margin-left: 8px; }
      .recent-posts-slider__item::after {
        position: absolute;
        display: block;
        content: '';
        width: 6px;
        height: 6px;
        border-left: 2px solid #d1d1d1;
        border-bottom: 2px solid #d1d1d1;
        top: 28%;
        left: 36%; }
      .recent-posts-slider__item--left::after {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
      .recent-posts-slider__item--right::after {
        -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg);
        left: 26%; }

.clients {
  height: 489px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/bg_clients_mountain.png);
  background-repeat: no-repeat, no-repeat;
  padding-top: 140px; }
  .clients-wrapper {
    width: 1110px;
    margin: 0 auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    -webkit-box-align: center;
            align-items: center;
    align-content: center; }
  .clients__logo {
    padding-right: 90px; }

.footer {
  height: 619px; }
  .footer .footer-bg {
    height: 508px;
    padding-top: 80px;
    background-color: #191919; }
    .footer .footer-bg-wrapper {
      width: 1170px;
      margin: 0 auto;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row;
      flex-wrap: nowrap;
      -webkit-box-pack: justify;
              justify-content: space-between; }
      .footer .footer-bg-wrapper .footer-bg-section {
        width: 270px; }
        .footer .footer-bg-wrapper .footer-bg-section__header {
          height: 57px;
          margin-bottom: 30px;
          display: -webkit-box;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
                  flex-direction: row;
          -webkit-box-align: end;
                  align-items: flex-end;
          font-family: 'Raleway';
          font-weight: 700;
          font-size: 24px;
          line-height: normal;
          color: #fff; }
        .footer .footer-bg-wrapper .footer-bg-section__header--logo {
          font-family: 'Raleway';
          font-weight: 400;
          font-size: 34px;
          line-height: normal;
          -webkit-box-align: center;
                  align-items: center;
          padding-bottom: 0; }
        .footer .footer-bg-wrapper .footer-bg-section__p {
          font-family: 'Montserrat';
          font-weight: 300;
          font-size: 14px;
          line-height: 24px;
          color: #555555; }
          .footer .footer-bg-wrapper .footer-bg-section__p .footer-bg-section__date {
            font-family: 'Montserrat';
            font-weight: 300;
            font-size: 12px;
            line-height: 20px;
            color: #363636; }
          .footer .footer-bg-wrapper .footer-bg-section__p:hover .footer-bg-section__date {
            color: #fff; }
          .footer .footer-bg-wrapper .footer-bg-section__p:hover p {
            color: #c7b299; }
        .footer .footer-bg-wrapper .footer-bg-section__link {
          display: -webkit-box;
          display: flex;
          -webkit-box-pack: start;
                  justify-content: flex-start;
          -webkit-box-align: center;
                  align-items: center;
          font-family: 'Montserrat';
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #d1d1d1;
          margin-top: 20px; }
          .footer .footer-bg-wrapper .footer-bg-section__link::after {
            display: block;
            content: '';
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-left: 5px solid #d1d1d1;
            margin-left: 9px; }
        .footer .footer-bg-wrapper .footer-bg-section__tag {
          color: #00bff3; }
        .footer .footer-bg-wrapper .footer-bg-section__shortlink {
          color: #959595; }
        .footer .footer-bg-wrapper .footer-bg-section__separator {
          width: 100%;
          height: 1px;
          background-color: #252525;
          margin: 20px 0 20px 0; }
        .footer .footer-bg-wrapper .footer-bg-section-widgets {
          display: -webkit-box;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
                  flex-direction: row;
          flex-wrap: wrap;
          -webkit-box-pack: justify;
                  justify-content: space-between; }
          .footer .footer-bg-wrapper .footer-bg-section-widgets .footer-bg-section-widget {
            width: 130px;
            height: 98px;
            margin-bottom: 10px;
            background-repeat: no-repeat;
            transition: -webkit-transform .3s ease;
            transition: transform .3s ease;
            transition: transform .3s ease, -webkit-transform .3s ease; }
            .footer .footer-bg-wrapper .footer-bg-section-widgets .footer-bg-section-widget--1 {
              background-image: url(../img/img_widget_phone.jpg); }
            .footer .footer-bg-wrapper .footer-bg-section-widgets .footer-bg-section-widget--2 {
              background-image: url(../img/img_widget_paper.jpg); }
            .footer .footer-bg-wrapper .footer-bg-section-widgets .footer-bg-section-widget--3 {
              background-image: url(../img/img_widget_book.jpg); }
            .footer .footer-bg-wrapper .footer-bg-section-widgets .footer-bg-section-widget--4 {
              background-image: url(../img/img_widget_icons.jpg); }
            .footer .footer-bg-wrapper .footer-bg-section-widgets .footer-bg-section-widget:hover {
              -webkit-transform: scale(1.1);
                      transform: scale(1.1); }
  .footer .footer-sm {
    height: 111px;
    background-color: #111111;
    padding-top: 45px;
    color: #555555; }
    .footer .footer-sm-wrapper {
      width: 1170px;
      margin: 0 auto;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row;
      -webkit-box-pack: justify;
              justify-content: space-between;
      font-family: 'Montserrat';
      font-weight: 300;
      font-size: 13px;
      line-height: 20px;
      color: #555555; }
    .footer .footer-sm-left {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row;
      -webkit-box-pack: justify;
              justify-content: space-between; }
    .footer .footer-sm-right {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row;
      -webkit-box-pack: justify;
              justify-content: space-between; }
    .footer .footer-sm__separator {
      width: 1px;
      height: 100%;
      margin: 0 10px;
      background-color: #555555; }
    .footer .footer-sm__selection {
      color: #959595; }
    .footer .footer-sm__link:hover {
      color: #c7b299; }

/*# sourceMappingURL=../css/style.css.map */
